<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to orionit.com, <%= @manager.name %></h1>
    <p>
      Your reportee <%= @user.name%> is requesting for your approval to travel.
    </p>
    <p>
      To know more details about the travel, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for your time and have a great day!</p>
  </body>
</html>